.container {
}

.search-form-start {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.search-form-start input {
  display: block;
  margin: 10px auto;
}
.search-form-start button {
  margin: 10px;
  background: white;
  cursor: pointer;
  border: 1px gray solid;
  padding: 5px 10px;
}

.search-form-searching {
}

.spinner-grow {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
